/****
* Logo
****/
.background-logo{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/** Header **/
.header-logo.background-logo{
    background-image: url('./nofiplus_logo_noir.png');
    height: 42px;
    width: 96px;
}

/** Footer **/
.footer-logo{
    background-image: url('./nofiplus_logo_blanc.png');
    height: 32px;
    width: 76px;
}

.footer-category-menu{
    bottom: 48px !important;
}

#navbarToggleCategoryMenu{
    position: fixed;
    bottom: 80px;
}