/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/node_modules/
/yarn-error.log
/nbproject/
/web/doc-fckhabou/visual/*.bak*
/web/doc-fckhabou/visual/*.lck
/web/uploads/
/log/*
/app/DoctrineMigrations/