{% extends "base.html.twig" %}

{% block body_tag_class %}front{% endblock body_tag_class %}

{% block header_content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
        <div class="container">
            <a class="navbar-brand mr-0" href="#">Logo</a>
            {% set logoutMenu = knp_menu_get('logoutMenu', [], {'_route': app.request.attributes.get('_route')}) %}
            {{ knp_menu_render(logoutMenu) }}
        </div>
    </nav>
{% endblock header_content %}

{% block container_content %}

    {% include 'Snippet/flash.html.twig' %}

    <main role="main">
        <div id="breadcrumb">
            <div class="container">
                {% include '@App/Menu/breadcrumb.html.twig' with {'aliasMenu': 'frontMain'} %}
            </div>
        </div>

        <div id="pageTitle" class="bg-light">
            <div class="container">
                <div class="row">
                    <div class="col">
                        {% block content_title_tag_start %}<h1 class="h2">{% endblock content_title_tag_start %}
                            {% block content_title %}
                                Titre de la page
                            {% endblock content_title %}
                            {% block content_title_tag_end %}</h1>{% endblock content_title_tag_end %}
                    </div>
                </div>
            </div>
        </div>

        <div id="content">
            <div class="container">
                {% block content %}Front content{% endblock content %}
            </div>
        </div>
    </main>
{% endblock container_content %}