//
// Avatar
//

$avatar-height: 75px;
$avatar-width: 75px;

/****
* Cursor 
****/
$cursors: auto default none context-menu help pointer progress wait cell crosshair text vertical-text alias copy move 
no-drop not-allowed all-scroll zoom-in zoom-out grabbing grab;