/****
* Position
****/

.left-0{
    left: 0 !important;
}

.right-0{
    right: 0 !important;
}

/****
* Cursor
****/

@each $cursor in $cursors{
    .cursor-#{$cursor}{
        cursor: $cursor !important;
    }
}