{% extends "@Front/Payment/index.html.twig" %}

{% block content %}
    <div class="alert alert-danger">
        <p>Le paiement a lamentablement échoué. Vous êtes pauvres ? </p>
    </div>
{% endblock content %}
