{% extends "@App/Base/front.html.twig" %}

{% if asUser is not defined %}
    {% set asUser = 'abonne' %}
{% endif %}

{% block content %}
    <p>{{ ('registration.confirmed' ~ asUser)|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ path('home') }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
{% endblock content %}
