{% extends "@Front/User/Profile/Partner/Offre/index.html.twig" %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block compagnies_content %}
    
    <h4>{{ 'form.offre.update' | trans }}</h4>
    
    {% include '@Front/User/Profile/Partner/Offre/form.html.twig' with {'action': 'update'} %}
    
{% endblock compagnies_content %}
